.profile-header {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.back-btn {
  float: left;
  img {
    width: 40px;
  }
}
.profile-username {
  position: absolute;
  margin: 0;
  top: 46px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 1.6rem;
}

.profile-user-avatar {
  text-align: center;
  margin-top: 20px;
  img {
    width: 76.88px;
  }
}

ul.user-effort {
  text-align: center;
  padding: 0;
  margin-top: 35px;
  li {
    display: inline-block;
    margin-left: 37px;
  }
  li.first {
    margin-left: 20px;
    margin-right: 10px;
  }
  .number {
    font-size: 1.6rem;
  }
  .posts,.followers,.following {
    font-size: 1.4rem;
    color: #9E9E9E;
  }
}

.user-posts {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 45px;
  .user-posts-inner {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.posts-image {
  // height: 92px;
 img {
   width: 100%;
   height: 100%;
 }
}

.user-introduction-inner {
  margin: 20px 50px 0;
  text-align: justify;
  text-justify: inter-ideograph;
}


